body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}

li {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.book-container {
    position: relative;
}

img {
    max-width: 150px;
    max-height: 200px;
    width: 100%; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.author {
    font-size: 12px;
    color: #777;
}


p {
    margin: 10px;
}

h1 {
    color: #054488;
    font-size: 28px;
    padding: auto;
}


h3 {
    color: #042042;
    font-size: 20px;
    font-style: italic;
}

h4 {
    color: #2463a1;
    border-bottom: 2px solid #2463a1;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p.login-link {
    margin-top: 10px;
    color: #777;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 0;
}


.bookshelf li {
    position: relative;
}

.bookshelf {
    margin-bottom: 20px; 
}

h2 {
    color: #042042;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

ul.bookshelves {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.bookshelf {
    margin-bottom: 40px; 
}

.bookshelf h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bookshelf ul {
    list-style: none;
    padding: 0;
}

.bookshelf li.book-cover {
    flex: 0 1 calc(100% - 10px);
    margin-bottom: 10px;
}

.bookshelf img {
    height: 200px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bookshelf .shelf-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140%; 
    height: 5px; 
    background-color: rgb(110, 62, 28); 
    border-radius: 4px;
}

#genresContainer {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.checkbox-label {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.genre-checkbox {
    margin-right: 15px; 
}


.flash-messages {
    list-style: none;
    padding: 10px;
}

.flash-messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    color: #28a745;
}

.error {
    color: #dc3545;
}